<div class="bg-home">

    <div class="home-page">
        <ul>
            <li> <a href="/students/list"> <button type="button" class="btn btn-danger btn-large">
                        Studiantes</button></a>
            </li>
            <li> <a href="/registro"> <button type="button" class="btn btn-danger btn-large">Registrarse
                    </button></a>
            </li>

        </ul>
    </div>

</div>