<div class="bg-profile">
    <div class="wrapper">
        <div class="card">
            <img src="{{student.profileImg}}" alt="" />
            <div id="container">
                <p id="name"> {{student.name}}</p>
                <a href="/students/edit/{{student.id}}">Editar</a>
            </div>
        </div>
    </div>
</div>